<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('./partials/boilerplate', {title: "Home"}); %> 
<%- include('./partials/navbar'); %>

<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        <h1>Home</h1>
        <a href="/posts" id="allposts">All Posts</a>
    </div>
</div>
    

<%- include('./partials/footer'); %>