<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "New Bulletin"}); %>
<%- include('../partials/navbar'); %>

<div class="card col-8 offset-2 p-3">
    <h1 class="text-center">Create new bulletin</h1>
    <form action="/new" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="bulletin[title]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a title.
            </div>
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea type="text" id="description" name="bulletin[description]" rows="3" class="form-control" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a description.
            </div>
        </div>
        <div class="mb-3">
            <label for="img">Image URL</label>
            <input type="text" id="title" class="form-control" name="bulletin[image]" required>
        </div>
        <button class="submitButton">Submit bulletin</button>
    </form>
    <a href="/allposts">All Posts</a>
</div>


<%- include('../partials/footer'); %>